.expense-manager {
  width: 50%;
  margin: 50px auto;
}

.btn {
  border: none;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .expense-manager {
    margin: 15px auto;
    width: 90%;
  }
}
